@import url(reset.css);
@import url(fonts.css);

/* 
############################################
#                                          #
#                RESET & SETUP             #
#                                          #
############################################
*/

::selection {
    background: #EE7633;
    color: #feeacf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background: #feeacf;
    font-family: 'Dunbarlow-Light';
}

.bg{
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    opacity: .2;
    filter: blur(5px);
    z-index: -1;
}

main {
    width: 100%;
    height: 100%;
}

hr {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EE7633;
    width: 70%;
    height: 1px;
}

#home,
#realisation,
#prestation,
#contact {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

/* 
############################################
#                                          #
#                  HEADER                  #
#                                          #
############################################
*/


nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 2;
    transition: all .3s;
}

nav.sticky{
    top: 10px;
    width: 80%;
    justify-content: space-evenly;
    background: rgba(41, 41, 41, 0.6);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

nav a img {
    width: 100px;
    height: auto;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: #EE7633;
    text-shadow: 0 0 5px #292929;
    font-family: 'DunbarLow-Medium';
    font-size: 1.5rem;
    padding: 10px;
    transition: all .2s;
}
nav a:hover {
    color: #feeacf;
    text-shadow: 0 0 5px #EE7633;
    transform: scale(1.1);
}

.contact {
    margin: 20px;
    font-size: 14px;
    border-top: 2px solid #EE7633;
    border-bottom: 2px solid #EE7633;
    text-transform: uppercase;
    transition: all .2s;
}

.contact:hover {
    color: #feeacf;
    border-top: 2px solid #feeacf;
    border-bottom: 2px solid #feeacf;
    transform: scale(1.1);
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    user-select: none;
}

header>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    user-select: none;
    z-index: -1;
}

#header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#header-content aside {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-family: 'DunbarLow-Light';
    color: #feeacf;
    text-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#header-content aside h1 {
    font-size: 2rem;
    /* background: rgba(41, 41, 41, 0.6); */
    /* backdrop-filter: blur(10px); */
    /* -webkit-backdrop-filter: blur(4.5px); */
}

#header-content aside h1>strong {
    font-family: 'DunbarLow-Medium';
}

#header-content aside h2 {
    font-size: 1.5rem;

}

#header-content aside p {
    font-size: 0.8rem;
}


#header-content aside a {
    font-family: 'DunbarLow-Medium';
    text-transform: uppercase;
    font-size: 1rem;
    color: #EE7633;
    text-shadow: 0 0 5px #292929;
    text-decoration: none;
    padding: 10px;
    border-top: 2px solid #EE7633;
    border-bottom: 2px solid #EE7633;
    transition: all .2s;
}

#header-content aside a:hover {
    color: #feeacf;
    text-shadow: 0 0 5px #EE7633;
    border: 2px solid #feeacf;
    transform: scale(1.1);
}





/* 
############################################
#                                          #
#                  HOME                    #
#                                          #
############################################
*/

#home {
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}


/* #home .blob {
    transform: scale(0.5);
} */




/* 
############################################
#                                          #
#               PRESTATIONS                #
#                                          #
############################################
*/

.packs {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

.pack-container {
    position: relative;
    display: flex;
    max-width: 350px;
    flex-direction: column;
    border-radius: 12px;
    background: #212121;
    border: 1px solid #feeacf;
    padding: 1.6rem;
    color: #feeacf;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.pack-container__header {
    position: relative;
    margin: 0;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 0;
    border-bottom: 1px solid #feeacf;
    background: transparent;
    padding-bottom: 1rem;
    text-align: center;
}

.pack-container__header-title {
    display: block;
    font-family: sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: #feeacf;
}

.price-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
    font-size: 4.5rem;
    line-height: 1;
}
.price-container span:first-child {
    margin-top: 10px;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.price-container span:last-child {
    align-self: flex-end;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.lists {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.list span {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list span svg {
    height: 24px;
    width: 24px;
}

.list p {
    display: block;
    font-family: sans-serif;
}

.button-container {
    margin-top: 20px;
    padding: 0;
}

.button-container button {
    display: block;
    width: 100%;
    background: #feeacf;
    padding: 10px 20px;
    text-transform: uppercase;
    color: #292929;
    outline: 0;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.button-container button:hover {
    color: #feeacf;
    background: #EE7633;
}




/* 
############################################
#                                          #
#                  FOOTER                  #
#                                          #
############################################
*/


footer {
    border-top: 1px solid #292929;
    width: 90%;
    height: 70px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.footer__top{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer__top a {
    text-decoration: none;
    color: #292929;
    font-family: 'Dunbarlow-Light';
    transition: .3s;
}
.footer__top a:hover{
    color: #EE7633;
}

/* 
############################################
#                                          #
#               RESPONSIVE                 #
#                                          #
############################################
*/


@media screen and (max-width: 900px) {
    nav ul {
        display: none;
    }
}